// /* --- ANIMATION --- */

// Nav items animation underline
.border-animation::after {
    content: "";
    position: relative;
    top: 1.6rem;
    display: block;
    height: .25rem;
    background-color: #d6d6d6;
    width: 0;
    transition: all 500ms ease;
}

.border-animation:hover::after {
    width: 100%;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.btn-anim {
  animation-name: fadeInOut;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
